<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iTextSharpSign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <iTextSharpSign.Properties.Settings>
            <setting name="Filial1" serializeAs="String">
                <value>C:\Users\maiks\Desktop\Assinar\Filial1;C:\Users\maiks\Desktop\Assinar\Filial1\Config\Infordoc 2020.pfx;Infordoc01;C:\Users\maiks\Desktop\Assinar\Filial1\Config\Watermark.jpg;superior-direita</value>
            </setting>
            <setting name="Filial2" serializeAs="String">
                <value>C:\Users\maiks\Desktop\Assinar\Filial2;C:\Users\maiks\Desktop\Assinar\Filial2\Config\Infordoc 2020.pfx;Infordoc01;C:\Users\maiks\Desktop\Assinar\Filial1\Config\Watermark.jpg;superior-direita</value>
            </setting>
        </iTextSharpSign.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
